In [1]:
import pandas as pd

In [2]:
vol_raw = "../raw_data/vol_data.csv"
invol_raw = "../raw_data/invol_data.csv"

vol_df = pd.read_csv(vol_raw)
invol_df = pd.read_csv(invol_raw)

In [3]:
vol_df

,State,District Name,Docket#,Received,Resolved,Unnamed: 5
0,CO,Adams County 14,8091230,8/7/09,2/9/10,NaN
1,CO,Adams County 14,8101112,3/25/10,4/25/14,NaN
2,IL,Addison School Dist 4,5131022,10/11/12,5/6/13,NaN
3,IL,Adler School Of Professional Psychology,5122079,12/27/11,6/22/12,NaN
4,NY,Albany City School District,2131010,10/10/12,5/10/13,NaN
...,...,...,...,...,...,...
328,PA,Wilkes-Barre Area Sd,3111223,5/25/11,3/30/12,NaN
329,NC,Wilson County Schools,11101157,4/5/10,8/6/12,NaN
330,CT,Windham Board Of Education,1045001,9/8/04,8/18/06,NaN
331,MA,Worcester,1121303,8/22/12,2/15/13,NaN
332,AZ,Yuma School District 1,8131207,5/20/13,11/27/13,NaN

In [4]:
invol_df

,District Name,City,State,Year Lifted,Year Placed
0,Abbeville 60,Abbeville,SC,1984,NaN
1,Aberdeen School Dist,Aberdeen,MS,STILL OPEN,1969.0
2,Acadia Parish,Crowley,LA,1981,NaN
3,Affton 101,St Louis,MO,1999,NaN
4,Alabaster City,Alabaster,AL,STILL OPEN,1963.0
...,...,...,...,...,...
764,Worth County,Sylvester,GA,STILL OPEN,1969.0
765,Yancey County Schools,Burnsville,NC,STILL OPEN,1960.0
766,Yazoo City Municipal School Dist,Yazoo City,MS,STILL OPEN,1970.0
767,Yazoo Co School Dist,Yazoo City,MS,STILL OPEN,1969.0
768,Yonkers City School District,Yonkers,NY,2002,NaN

In [5]:
vol_df["Order Type"] = "Voluntary"

del vol_df["Unnamed: 5"]
del vol_df["Docket#"]

vol_df["Received"] = pd.to_datetime(vol_df["Received"])
vol_df["Resolved"] = pd.to_datetime(vol_df["Resolved"])

vol_df

,State,District Name,Received,Resolved,Order Type
0,CO,Adams County 14,2009-08-07,2010-02-09,Voluntary
1,CO,Adams County 14,2010-03-25,2014-04-25,Voluntary
2,IL,Addison School Dist 4,2012-10-11,2013-05-06,Voluntary
3,IL,Adler School Of Professional Psychology,2011-12-27,2012-06-22,Voluntary
4,NY,Albany City School District,2012-10-10,2013-05-10,Voluntary
...,...,...,...,...,...
328,PA,Wilkes-Barre Area Sd,2011-05-25,2012-03-30,Voluntary
329,NC,Wilson County Schools,2010-04-05,2012-08-06,Voluntary
330,CT,Windham Board Of Education,2004-09-08,2006-08-18,Voluntary
331,MA,Worcester,2012-08-22,2013-02-15,Voluntary
332,AZ,Yuma School District 1,2013-05-20,2013-11-27,Voluntary

In [6]:
invol_df["Order Type"] = "Involuntary"

del invol_df["City"]

invol_df["Year Placed"] = invol_df["Year Placed"].fillna(0).astype(int)
invol_df["Year Placed"] = invol_df["Year Placed"].astype(str)
invol_df["Year Placed"] = invol_df["Year Placed"].replace(['0'],'Unknown year')

invol_df

,District Name,State,Year Lifted,Year Placed,Order Type
0,Abbeville 60,SC,1984,Unknown year,Involuntary
1,Aberdeen School Dist,MS,STILL OPEN,1969,Involuntary
2,Acadia Parish,LA,1981,Unknown year,Involuntary
3,Affton 101,MO,1999,Unknown year,Involuntary
4,Alabaster City,AL,STILL OPEN,1963,Involuntary
...,...,...,...,...,...
764,Worth County,GA,STILL OPEN,1969,Involuntary
765,Yancey County Schools,NC,STILL OPEN,1960,Involuntary
766,Yazoo City Municipal School Dist,MS,STILL OPEN,1970,Involuntary
767,Yazoo Co School Dist,MS,STILL OPEN,1969,Involuntary
768,Yonkers City School District,NY,2002,Unknown year,Involuntary

In [7]:
vol_df["Region"] = ""

invol_df["Region"] = ""

# Regions
https://www.nationalgeographic.org/maps/united-states-regions/
### Northeast(9) = ME, MA, RI, CT, NH, VT, NY, PA, NJ
### Southeast(14) = DE, MD, WV, VA, KT, TN, NC, SC, GA, AL, MS, AR, LA, FL
### Midwest(12) = OH, IN, MI, IL, MO, WI, MN, IA, KS, NE, SD, ND
### Southwest(4) = TX, OK, NM, AZ
### West(11) = CO, WY, MT, ID, WA, OR, UT, NV, CA, AK, HI

In [8]:
for i in invol_df.index:
    if (invol_df["State"][i] == "ME") or (invol_df["State"][i] == "MA") or (invol_df["State"][i] == "RI") or (invol_df["State"][i] == "CT") or (invol_df["State"][i] == "NH") or (invol_df["State"][i] == "VT") or (invol_df["State"][i] == "NY") or (invol_df["State"][i] == "PA") or (invol_df["State"][i] == "NJ"):
        invol_df["Region"][i] = "Northeast"
    elif (invol_df["State"][i] == "DE") or (invol_df["State"][i] == "MD") or (invol_df["State"][i] == "WV") or (invol_df["State"][i] == "VA") or (invol_df["State"][i] == "KT") or (invol_df["State"][i] == "TN") or (invol_df["State"][i] == "NC") or (invol_df["State"][i] == "SC") or (invol_df["State"][i] == "GA") or (invol_df["State"][i] == "AL") or (invol_df["State"][i] == "MS") or (invol_df["State"][i] == "AR") or (invol_df["State"][i] == "LA") or (invol_df["State"][i] == "FL"):
        invol_df["Region"][i] = "Southeast"
    elif (invol_df["State"][i] == "OH") or (invol_df["State"][i] == "IN") or (invol_df["State"][i] == "MI") or (invol_df["State"][i] == "IL") or (invol_df["State"][i] == "MO") or (invol_df["State"][i] == "WI") or (invol_df["State"][i] == "MN") or (invol_df["State"][i] == "IA") or (invol_df["State"][i] == "KS") or (invol_df["State"][i] == "NE") or (invol_df["State"][i] == "SD") or (invol_df["State"][i] == "ND"):
        invol_df["Region"][i] = "Midwest"
    elif (invol_df["State"][i] == "TX") or (invol_df["State"][i] == "OK") or (invol_df["State"][i] == "NM") or (invol_df["State"][i] == "AZ"):
        invol_df["Region"][i] = "Southwest"
    elif (invol_df["State"][i] == "CO") or (invol_df["State"][i] == "WY") or (invol_df["State"][i] == "MT") or (invol_df["State"][i] == "ID") or (invol_df["State"][i] == "WA") or (invol_df["State"][i] == "OR") or (invol_df["State"][i] == "UT") or (invol_df["State"][i] == "NV") or (invol_df["State"][i] == "CA") or (invol_df["State"][i] == "AK") or (invol_df["State"][i] == "HI"):
        invol_df["Region"][i] = "West"

invol_df

,District Name,State,Year Lifted,Year Placed,Order Type,Region
0,Abbeville 60,SC,1984,Unknown year,Involuntary,Southeast
1,Aberdeen School Dist,MS,STILL OPEN,1969,Involuntary,Southeast
2,Acadia Parish,LA,1981,Unknown year,Involuntary,Southeast
3,Affton 101,MO,1999,Unknown year,Involuntary,Midwest
4,Alabaster City,AL,STILL OPEN,1963,Involuntary,Southeast
...,...,...,...,...,...,...
764,Worth County,GA,STILL OPEN,1969,Involuntary,Southeast
765,Yancey County Schools,NC,STILL OPEN,1960,Involuntary,Southeast
766,Yazoo City Municipal School Dist,MS,STILL OPEN,1970,Involuntary,Southeast
767,Yazoo Co School Dist,MS,STILL OPEN,1969,Involuntary,Southeast
768,Yonkers City School District,NY,2002,Unknown year,Involuntary,Northeast

In [9]:
for i in vol_df.index:
    if (vol_df["State"][i] == "ME") or (vol_df["State"][i] == "MA") or (vol_df["State"][i] == "RI") or (vol_df["State"][i] == "CT") or (vol_df["State"][i] == "NH") or (vol_df["State"][i] == "VT") or (vol_df["State"][i] == "NY") or (vol_df["State"][i] == "PA") or (vol_df["State"][i] == "NJ"):
        vol_df["Region"][i] = "Northeast"
    elif (vol_df["State"][i] == "DE") or (vol_df["State"][i] == "MD") or (vol_df["State"][i] == "WV") or (vol_df["State"][i] == "VA") or (vol_df["State"][i] == "KT") or (vol_df["State"][i] == "TN") or (vol_df["State"][i] == "NC") or (vol_df["State"][i] == "SC") or (vol_df["State"][i] == "GA") or (vol_df["State"][i] == "AL") or (vol_df["State"][i] == "MS") or (vol_df["State"][i] == "AR") or (vol_df["State"][i] == "LA") or (vol_df["State"][i] == "FL"):
        vol_df["Region"][i] = "Southeast"
    elif (vol_df["State"][i] == "OH") or (vol_df["State"][i] == "IN") or (vol_df["State"][i] == "MI") or (vol_df["State"][i] == "IL") or (vol_df["State"][i] == "MO") or (vol_df["State"][i] == "WI") or (vol_df["State"][i] == "MN") or (vol_df["State"][i] == "IA") or (vol_df["State"][i] == "KS") or (vol_df["State"][i] == "NE") or (vol_df["State"][i] == "SD") or (vol_df["State"][i] == "ND"):
        vol_df["Region"][i] = "Midwest"
    elif (vol_df["State"][i] == "TX") or (vol_df["State"][i] == "OK") or (vol_df["State"][i] == "NM") or (vol_df["State"][i] == "AZ"):
        vol_df["Region"][i] = "Southwest"
    elif (vol_df["State"][i] == "CO") or (vol_df["State"][i] == "WY") or (vol_df["State"][i] == "MT") or (vol_df["State"][i] == "ID") or (vol_df["State"][i] == "WA") or (vol_df["State"][i] == "OR") or (vol_df["State"][i] == "UT") or (vol_df["State"][i] == "NV") or (vol_df["State"][i] == "CA") or (vol_df["State"][i] == "AK") or (vol_df["State"][i] == "HI"):
        vol_df["Region"][i] = "West"

vol_df

C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,State,District Name,Received,Resolved,Order Type,Region
0,CO,Adams County 14,2009-08-07,2010-02-09,Voluntary,West
1,CO,Adams County 14,2010-03-25,2014-04-25,Voluntary,West
2,IL,Addison School Dist 4,2012-10-11,2013-05-06,Voluntary,Midwest
3,IL,Adler School Of Professional Psychology,2011-12-27,2012-06-22,Voluntary,Midwest
4,NY,Albany City School District,2012-10-10,2013-05-10,Voluntary,Northeast
...,...,...,...,...,...,...
328,PA,Wilkes-Barre Area Sd,2011-05-25,2012-03-30,Voluntary,Northeast
329,NC,Wilson County Schools,2010-04-05,2012-08-06,Voluntary,Southeast
330,CT,Windham Board Of Education,2004-09-08,2006-08-18,Voluntary,Northeast
331,MA,Worcester,2012-08-22,2013-02-15,Voluntary,Northeast
332,AZ,Yuma School District 1,2013-05-20,2013-11-27,Voluntary,Southwest

## State of Slavery Before & During the Civil War
https://civilwar1860s.weebly.com/uploads/3/0/2/8/30288733/1401287149.jpg

http://american-history.net/american-civil-war/union-vs-confederacy/
### Slave State (Confederacy - 11): TX, LA, AR, TN, MS, AL, GA, FL, SC, NC, VA
### Border State (Had Slavery but part of the Union - 5): MO, KY, WV, MD, DE
### Free State (Union - 20): CA, OR, KS, IA, MN, WI, IL, IN, MI, OH, PA, NY, NJ, CT, RI, MA, NH, VT, ME, NV

In [10]:
vol_df["History of Slavery"] = ""
invol_df["History of Slavery"] = ""

In [11]:
for i in vol_df.index:
    if (vol_df["State"][i] == "TX") or (vol_df["State"][i] == "LA") or (vol_df["State"][i] == "AR") or (vol_df["State"][i] == "TN") or (vol_df["State"][i] == "MS") or (vol_df["State"][i] == "AL") or (vol_df["State"][i] == "GA") or (vol_df["State"][i] == "FL") or (vol_df["State"][i] == "SC") or (vol_df["State"][i] == "NC") or (vol_df["State"][i] == "VA"):
        vol_df["History of Slavery"][i] = "Slave State"
    elif (vol_df["State"][i] == "CA") or (vol_df["State"][i] == "OR") or (vol_df["State"][i] == "KS") or (vol_df["State"][i] == "IA") or (vol_df["State"][i] == "MN") or (vol_df["State"][i] == "WI") or (vol_df["State"][i] == "IL") or (vol_df["State"][i] == "IN") or (vol_df["State"][i] == "MI") or (vol_df["State"][i] == "OH") or (vol_df["State"][i] == "PA") or (vol_df["State"][i] == "NY") or (vol_df["State"][i] == "NJ") or (vol_df["State"][i] == "CT") or (vol_df["State"][i] == "RI") or (vol_df["State"][i] == "MA") or (vol_df["State"][i] == "NH") or (vol_df["State"][i] == "VT") or (vol_df["State"][i] == "ME") or (vol_df["State"][i] == "NE"):
        vol_df["History of Slavery"][i] = "Free State"
    elif (vol_df["State"][i] == "MO") or (vol_df["State"][i] == "KY") or (vol_df["State"][i] == "WV") or (vol_df["State"][i] == "MD") or (vol_df["State"][i] == "DE"):
        vol_df["History of Slavery"][i] = "Border State"
    else:
        vol_df["History of Slavery"][i] = "Territory"

vol_df

C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\swati\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,State,District Name,Received,Resolved,Order Type,Region,History of Slavery
0,CO,Adams County 14,2009-08-07,2010-02-09,Voluntary,West,Territory
1,CO,Adams County 14,2010-03-25,2014-04-25,Voluntary,West,Territory
2,IL,Addison School Dist 4,2012-10-11,2013-05-06,Voluntary,Midwest,Free State
3,IL,Adler School Of Professional Psychology,2011-12-27,2012-06-22,Voluntary,Midwest,Free State
4,NY,Albany City School District,2012-10-10,2013-05-10,Voluntary,Northeast,Free State
...,...,...,...,...,...,...,...
328,PA,Wilkes-Barre Area Sd,2011-05-25,2012-03-30,Voluntary,Northeast,Free State
329,NC,Wilson County Schools,2010-04-05,2012-08-06,Voluntary,Southeast,Slave State
330,CT,Windham Board Of Education,2004-09-08,2006-08-18,Voluntary,Northeast,Free State
331,MA,Worcester,2012-08-22,2013-02-15,Voluntary,Northeast,Free State
332,AZ,Yuma School District 1,2013-05-20,2013-11-27,Voluntary,Southwest,Territory

In [12]:
for i in invol_df.index:
    if (invol_df["State"][i] == "TX") or (invol_df["State"][i] == "LA") or (invol_df["State"][i] == "AR") or (invol_df["State"][i] == "TN") or (invol_df["State"][i] == "MS") or (invol_df["State"][i] == "AL") or (invol_df["State"][i] == "GA") or (invol_df["State"][i] == "FL") or (invol_df["State"][i] == "SC") or (invol_df["State"][i] == "NC") or (invol_df["State"][i] == "VA"):
        invol_df["History of Slavery"][i] = "Slave State"
    elif (invol_df["State"][i] == "CA") or (invol_df["State"][i] == "OR") or (invol_df["State"][i] == "KS") or (invol_df["State"][i] == "IA") or (invol_df["State"][i] == "MN") or (invol_df["State"][i] == "WI") or (invol_df["State"][i] == "IL") or (invol_df["State"][i] == "IN") or (invol_df["State"][i] == "MI") or (invol_df["State"][i] == "OH") or (invol_df["State"][i] == "PA") or (invol_df["State"][i] == "NY") or (invol_df["State"][i] == "NJ") or (invol_df["State"][i] == "CT") or (invol_df["State"][i] == "RI") or (invol_df["State"][i] == "MA") or (invol_df["State"][i] == "NH") or (invol_df["State"][i] == "VT") or (invol_df["State"][i] == "ME") or (invol_df["State"][i] == "NE"):
        invol_df["History of Slavery"][i] = "Free State"
    elif (invol_df["State"][i] == "MO") or (invol_df["State"][i] == "KY") or (invol_df["State"][i] == "WV") or (invol_df["State"][i] == "MD") or (invol_df["State"][i] == "DE"):
        invol_df["History of Slavery"][i] = "Border State"
    else:
        invol_df["History of Slavery"][i] = "Territory"

invol_df

,District Name,State,Year Lifted,Year Placed,Order Type,Region,History of Slavery
0,Abbeville 60,SC,1984,Unknown year,Involuntary,Southeast,Slave State
1,Aberdeen School Dist,MS,STILL OPEN,1969,Involuntary,Southeast,Slave State
2,Acadia Parish,LA,1981,Unknown year,Involuntary,Southeast,Slave State
3,Affton 101,MO,1999,Unknown year,Involuntary,Midwest,Border State
4,Alabaster City,AL,STILL OPEN,1963,Involuntary,Southeast,Slave State
...,...,...,...,...,...,...,...
764,Worth County,GA,STILL OPEN,1969,Involuntary,Southeast,Slave State
765,Yancey County Schools,NC,STILL OPEN,1960,Involuntary,Southeast,Slave State
766,Yazoo City Municipal School Dist,MS,STILL OPEN,1970,Involuntary,Southeast,Slave State
767,Yazoo Co School Dist,MS,STILL OPEN,1969,Involuntary,Southeast,Slave State
768,Yonkers City School District,NY,2002,Unknown year,Involuntary,Northeast,Free State

In [13]:
vol_df.to_csv("clean_vol_data.csv", index=False)

invol_df.to_csv("clean_invol_data.csv", index=False)